<template>
    <div>
      <logo />
      <p id="search-label">Procure seu livro</p>
      <div id="search-container">
        <input type="text" v-model="search" placeholder="Digite o nome do livro">
      </div>
      <div id="post-list">
        <Post v-for="post in filteredPosts" :key="post.id" :post="post" @click="goToPost(post.id)" />
      </div>
    </div>
  </template>
  
  <script>
  import Post from "./PrimeiroComponente.vue"
  import logo from "./Logo.vue"
  
  export default {
    name: 'App',
    components: { Post, logo },
    data() {
      return {
        search: "",
        posts: [
          {
            id: 1,
            title: 'Blue lock Volume 1',
            body: 'Manga',
            imageUrl: 'path/blue lock.jpg'
          },
          {
            id: 2,
            title: 'Mito Ou Verdade: Jair Messias Bolsonaro',
            body: 'Politica',
            imageUrl: 'path/bolsonaro.jpg'
          },
          {
            id: 3,
            title: 'Lula volume 1: Biografia',
            body: 'Politica',
            imageUrl: 'path/lula.jpg'
          },
          {
            id: 3,
            title: 'Turma da mônica: Uma historia que precisa ter fim',
            body: 'Gibi',
            imageUrl: 'path/monica.jpg'
          }
        ]
      };
    },
    computed: {
      filteredPosts() {
        return this.posts.filter(post => 
          post.title.toLocaleLowerCase().includes(this.search.toLocaleLowerCase())
        );
      }
    },
    methods: {
        goToPost(id) {
            this.$router.push({ name: 'PostDetail', params: { id } });
        }
    }
  }
  </script>
  
  <style scoped>
  #search-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }
  
  #search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #search-container input {
    font-size: 1em;
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #post-list {
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  </style>