<template>
    <h1 id="logo">Livraria Online</h1>
</template>

<script>
export default {
    name: 'logo'
}
</script>

<style>
#logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 3em;
    background-color: hsl(22, 71%, 49%);
    border-radius: 8px;
    padding: 20px;
    margin: 0;
}
</style>