<template>
    <div v-if="post">
      <h1>{{ post.title }}</h1>
      <img :src="post.imageUrl" alt="Post image">
      <p>{{ post.body }}</p>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'PostDetail',
    data() {
      return {
        post: null
      };
    },
    created() {
      this.fetchPost();
    },
    methods: {
      async fetchPost() {
        const postId = this.$route.params.id;
        try {
          const response = await axios.get(`https://your-api-url/posts/${postId}`);
          this.post = response.data;
        } catch (error) {
          console.error('Failed to fetch post:', error);
        }
      }
    }
  }
  </script>
  
  <style scoped>
  h1 {
    font-size: 2em;
    margin: 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  p {
    font-size: 1em;
    margin: 20px 0;
  }
  </style>
  