<template>
    <article class="post" @click="handleClick">
        <img :src="post.imageUrl" alt="Post image" class="post-image">
        <h3> {{ post.title }}</h3>
        <p> {{ post.body }}</p>
    </article>
</template>

<script>
export default {
  name: 'Post',
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  methods: {
    handleClick() {
        this.$emit('click')
    }
  }
}

</script>

<style scoped>
.post {
font-size: 1em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 1px solid #ccc;
border-radius: 5px;
padding: 30px;
margin: 10px;
width: 100%;
max-width: 200px;
max-height: 400px;
overflow: hidden;
box-sizing: border-box;
cursor: pointer;
}
.post-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
</style>